[user]
  name  = Ben Word
  email = ben@benword.com

[alias]
  l       = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  s       = status -s
  st      = status

[push]
  default = current

[color]
  ui = auto

[color "diff"]
  meta = blue bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "branch"]
  current = yellow reverse
  local   = yellow bold
  remote  = green bold
  plain   = red bold

[color "status"]
  added     = yellow
  changed   = green bold
  untracked = blue bold
[core]
  excludesfile = /Users/ben/.gitignore_global
